{% extends "base.html" %}
{% load staticfiles %}
{% load register_extras %}
{% block body %}


    <div class="col-sm-0ffset-6">
        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRmz6Hf_8y2WT9He_FWgxfyq0GFJhCfiRXG13dWvfQ0p5fgGQsG">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS2BHRyFiNXVQop9vQ21CdiKZRZTyyF_DAm-QJmIRO14f7QqXU2">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCNTxwG02zVHpv7GAoGevoiTS8NjLgts-ESqfHgN7mH0G2n9qkWA">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRaBWxhVk0O8m-vQ0_q_pyUs-4oF97RgFUU2Z6lPwxW1z4Ahubi">
        {% if request.user.is_anonymous %}

        {%  else %}
            <div class="col-md-8 col-md-offset-2 well">
                <table class="table table-hover table-bordered table-responsive" style="background-color:goldenrod ">
                    <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Manufacturer
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            More
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in object_list %}
                        <tr>
                            <td> {{ item.name }} </td>
                            <td> {{ item.description }}</td>
                            <td> {{ item.manufacturer }}</td>
                            <td> {{ item.price }}</td>
                            <td> <a href="{% url 'chocolate_info' item.id %}">Info</a> </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-5 col-md-offset-5"  style="padding-top: 5%";>
                <a href="{% url 'add_chocolate' %}">
                    <button class="btn btn-primary">Add a Chocolate</button>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock body %}